# --- Python (VS Code) ---
__pycache__/
*.py[cod]
.vscode/
*.env

# --- Java (VS Code) ---
bin/
build/
*.class
.vscode/
*.jar
*.war
*.ear

# --- C# (Visual Studio 2022) ---
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/
*.exe
*.dll
*.pdb
