# --- Python ---
__pycache__/
*.py[cod]
.vscode/
*.env

# --- Java ---
bin/
build/
*.class
.vscode/
*.jar
*.war
*.ear

# --- C# Visual Studio ---
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
bin/Debug/
bin/Release/
obj/
obj/Debug/
obj/Release/

*.csproj
*.sln

*.exe
*.dll
*.pdb

*.log
*.cache
*.ilk
*.meta
*.idb
*.ipch

ListGenerator-Csharp/v17/
